.env

# virtual env
venv/
.venv/
__pycache__/
*.pyc
*.log

# fpdf cache
fonts/DejaVuSans.cw127.pkl
fonts/DejaVuSans.pkl
fonts/DejaVuSans-Bold.cw127.pkl
fonts/DejaVuSans-Bold.pkl

# sonar
sonar-project.properties
htmlcov
.coverage
.scannerwork
